/* ===============
  Customize Item
===============
 */

#customize-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  max-width: 800px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.customizations__container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.customizations__box h4 {
  margin-bottom: 15px;
}

/* #add-to-cart::before {
  content: "";
  background-image: url("./media/add-to-cart\ 1.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  right: 15%;
  position: absolute;
  z-index: 100;
} */
