.container {
  display: flex;
  padding: 1em;
  width: 90%;
  margin: auto;
}

.drink-img {
  width: clamp(5rem, 40vw, 15rem);
  height: clamp(5rem, 40vw, 15rem);
  background-color: #fffef6;
  border-radius: 1em;
  display: block;
}

.drink-img img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 1em;
}

.drink-info {
  padding: 2vw;
  align-self: center;
}

.name {
  flex: 1;
  width: max-content;
  font-size: clamp(1.2rem, 5vw, 2.4rem);
  font-weight: 800;
}

.price {
  flex: 1;
  width: max-content;
  font-size: clamp(1rem, 3vw, 1.6rem);
}

.filler {
  flex: 2;
  padding: 0.5em;
  width: max-content;
}
.nutrition {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align-last: right;
  margin-top: auto;
}

.nutrition img {
  width: clamp(2rem, 10vw, 3rem);
  flex: 1;
}
.calorie {
  flex: 2;
  font-size: clamp(1rem, 3vw, 1.6rem);
}
