nav {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: 90vw;
  border-top: #818181 2px solid;
  /* box-shadow: 1px -4px 12px 1px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px -4px 12px 1px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px -4px 12px 1px rgba(0, 0, 0, 0.57); */
}

.nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

nav a {
  padding: 40px 0;
}

.nav-image {
  width: 50px;
  cursor: pointer;
  margin: 5%;
}
