body {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #ca5310;

  --accent-color: #700353;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
}

hr {
  width: 90%;
  margin-bottom: 30px;
}

#all-drinks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list__container {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.item__inner {
  margin-left: 10px;
}
